<section class="bg-emerald-50 pt-40">
    <div class="container px-5 max-auto h-[1000px]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quae dolorem eligendi, repudiandae ducimus assumenda voluptatibus sequi, dignissimos soluta, beatae quisquam et quos amet quia ipsum ut? Dolorum, atque deleniti.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque placeat at modi officia. Minus, provident tenetur eligendi temporibus explicabo laudantium! Quae placeat consequatur deserunt saepe maiores cupiditate exercitationem sed doloremque.

    </div>
</section>
