<ul *ngIf="!isAuthenticated" class=" justify-center flex gap-4 font-semibold text-slate-700">
    <li>
        <a routerLink="/login">
            <app-button class="hidden lg:block" name="Sign In" shade="NA" size="medium"></app-button>
            <app-button class="lg:hidden" name="Sign In" shade="white" size="medium"></app-button>
        </a>
    </li>
    <li>
        <a routerLink="/register">
            <app-button name="Sign Up" shade="dark" size="medium" animation="circle"></app-button></a>
    </li>
</ul>

<!-- <app-button  name="Logout" shade="white" size="medium"></app-button> -->
<!-- <ul *ngIf="isAuthenticated" >
    <a (click)="logout()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            data-slot="icon" class="w-9 h-9">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        </svg>

    </a>
</ul> -->

<div *ngIf="isAuthenticated" class="dropdown dropdown-end">
    <svg tabindex="0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        data-slot="icon" class="w-9 h-9">
        <path stroke-linecap="round" stroke-linejoin="round"
            d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
    </svg>
    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-32">
        <li class="hover:bg-emerald-200 hover:rounded-md"><a>Profile</a></li>
        <li class="hover:bg-emerald-200 hover:rounded-md"><a (click)="logout()">LogOut</a></li>
    </ul>
</div>
